* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: #464646;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#theme {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#theme img {
    width: 100px;
}